

.bannar-bg{
    width: 100vw;
    height: 100vh;
    background-image: url(./image/banarphoto.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.bannar{
    width: 100vw;
    height: 100vh;
}

.change-color{
    color: 
    #FECC02;
}

.footer-bg{
    height: 40vh;
    background: rgba(0, 0, 0, 0.856);
}

.footer-size{
    height: 40vh;
}